form {
    margin: auto;
    margin-top: 50px;
    width: 50%;
}

.productos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#productos .product {
    text-align: center;
    width: 300px;
    padding: 40px 0;
    margin: 30px;
    color: white;
    background: rgb(56, 65, 189);
    border-radius: 10px;
}

#navbar {
    background: rgb(56, 65, 189) !important; 
}
#navbar a {
    color: #fff;
}

h3 {
    margin: 30px;
}

.hidden {
    display: none;
}